:root {
  --primary-color:#BA704F;
  --second-color:#ebf2f6;
  --third-color:#DFA878;
  --four-color: #FFC26F;
  --text-color: #6C3428;
  --input-color: #FFF3E4;
  --fondo-input: #865439;
  --tittle: #F29727;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
  height: 12%;
  background-color: var(--second-color); 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.btnMenu{
  width: 15%;
  padding-left: 50px;
}

.btnMenu > label:hover{
  opacity: 50%;
  cursor: pointer;
}

.tittle{
  width: 18%;
  font-size: 60px;
  text-decoration: none;
  /* border: red solid 2px; */
}

nav{
  width: 33%;
  /* border: red solid 2px;aaa */
}

.icons{
  /* border: red solid 2px; */
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons > a{
  margin-left: 50px;
}

.icons > a:hover,
.icons > a:focus{
  margin-left: 50px;
  opacity: 50%;
}

nav > .navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > .navbar > li{
  margin-left: 50px;
  list-style: none; /*Sirve para quitar los puntos o numero que brinda el 'li' en HTML*/

}

nav > .navbar > li > a{
  text-decoration: none; /*Quieta la subraya del ancla*/
  font-style: normal;
  font-size: 25px;
}

nav > .navbar > li > a:hover,
nav > .navbar > li > a:focus{
  opacity: 50%;
}

main{
  display: grid;
  place-items: center;
  width: 100%;
}

#btnMenu{
  display: none;
}

.containerMenu{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#btnMenu:checked ~ .containerMenu{
  opacity: 1;
  visibility: visible;
}

.contMenu{
  text-align: center;
  width: 100%;
  max-width: 250px;
  background-color: var(--second-color);
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  padding: 10px;
}

.contMenu > .fotoCanva{
  width: 200px;
  height: 200px;
  background-image: url(FotoCanva.jpeg);
  background-size: cover;
  border: black solid 1px;
  border-radius: 50%;
  margin: auto;
  transition: all 400ms ease;
  margin-top: 50px;
}

.contMenu > h2{
  color: var(--text-color);
  font-size: 40px;
  padding-top: 60px;
  transition: all 400ms ease;
}

.contMenu > p{
  color: black;
  font-size: 20px;
  padding-top: 30px;
  transition: all 400ms ease;
}

.contMenu > label{
  display: grid;
  place-items: center;
  position: absolute;
  right: 100px;
  bottom: 150px;
  background-color: var(--text-color);
  padding: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.contMenu > label:hover{
  cursor: pointer;
  opacity: 50%;
}

.goTop{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40px;
  right: 10px;
  width: 66px;
  height: 66px;
  z-index: -1;
  opacity: 0;
}

.goTopButton{
  width: 0px;
  height: 0px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  left: 50%;
  z-index: -1;
}

.goTop > .goTopButton > i{
  position: absolute;
  font-size: 17px;
  top: 48%;
  left: 50%;
  color: white;
  transition: .2s;
}

.mostrar{
  z-index: 10;
  opacity: 100%;
}

.mostrar .goTopButton{
  animation: popup .3s ease-in-out;
  width: 66px;
  height: 66px;
  z-index: 11;
}

.mostrar i{
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0%{
    width: 0px;
    height: 0px;
  }

  50%{
    width: 80px;
    height: 80px;
  }

  100%{
    width: 66px;
    height: 66px;
  }
}










.tittleP{
  font-family: 'Courgette', cursive;
  margin-top: 100px;
  color: #FFC26F;
  font-size: 100px;
}

.about{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.presentation{
  width: 30%;
  /* border: red solid 2px;  */
  display: flex;
  align-items: center;
}

.presentation > p{
  color: var(--second-color);
  font-size: 30px;
  text-align: center;
}

.line{
  border-left: var(--second-color) 1.5px solid;
  margin-left: 200px;
  margin-right: 200px;
}

.imageProfile{
  width: 30%;
  /* border: red solid 2px; */
  display: flex;
  justify-content: center;
}

.image{
  width: 400px;
  height: 450px;
  border: var(--second-color) 2px solid;
  border-radius: 20%;
  /* margin-top: 50px;
  margin-right: 400px; */
}

.myHabilitys{
  display: grid;
  place-items: center;
  width: 90%;
  height: 90vh;
  margin-top: 100px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-image: url(https://images.pexels.com/photos/639479/pexels-photo-639479.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: cover;
  border-radius: 12px;
}

.tittleH{
  color: #F29727;
  font-size: 80px;
  text-align: center;
  width: 20%;
  font-family: 'Courgette', cursive;
}

.habilitys{
  margin-top: 100px;
  width: 100%;
  /* border: red 2px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.habilitys2{
  width: 100%;
  margin-top: 30px;
  /* border: red 2px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.square{
  width: 50%;
  height: 250px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 20px;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/1260727/pexels-photo-1260727.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: cover;
  background-position: center;
  transition: all 1s;
  padding: 10px;
}

.square:hover{
  transform: scale(1.08);
  
}

.habilitys > .square > h4{
  margin-top: 10px;  
  font-size: 40px;
  color: #A34A28;
}

.habilitys2 > .square > h4{
  margin-top: 10px;
  font-size: 40px;
  color: #A34A28;
}

.habilitys > .square > p{
  font-size: 30px;
  color: #343434;
  margin-top: 20px;
}

.habilitys2 > .square > p{
  font-size: 30px;
  color: #343434;
  margin-top: 20px;
}

.educacion{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90vh;
  margin-top: 100px;
  background-color: #FEFBF6;
  border-radius: 12px;
  border: var(--text-color) solid 2px;
}

.textEducacion{
  width: 40%;
  height: 90%;
  border-radius: 12px;
  display: grid;
  place-items: center;
  background: var(--primary-color);
}

.textEducacion > h3{
  color: #27374D;
  font-size: 100px;
  font-family: 'Courgette', cursive;
}

.textEducacion > p{
  color: var(--second-color);
  font-size: 60px;
  text-align: center;
  place-items: top;
}

.textEducacion > .frase{
  font-size: 40px;
  color: #27374D;
  font-style: italic;
}

.containerImageE{
  width: 40%;
  height: 90%;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  margin-left: 100px;
}

.containerImageE > .imageE1{
  padding: 5px;
  display: block;
  min-width: 50px;
  width: 100%;
  height: 100%;
  background-image: url(https://images.pexels.com/photos/808822/pexels-photo-808822.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-position: center;
  background-size: cover;
  opacity: 25%;
  flex: 1;
  transition: .5s;
}

.containerImageE > .imageE1 > p{
  color: var(--second-color);
  font-size: 25px;
  overflow: hidden;
  padding-top: 30px;
}

.containerImageE > .imageE1 > h3{
  color: var(--second-color);
  font-size: 35px;
  overflow: hidden;
}

.containerImageE > .imageE2{
  padding: 5px;
  display: block;
  min-width: 50px;
  width: 100%;
  height: 100%;
  background-image: url(https://images.pexels.com/photos/4667603/pexels-photo-4667603.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-position: center;
  background-size: cover;
  opacity: 25%;
  flex: 1;
  transition: .5s;
}

.containerImageE > .imageE2 > p{
  color: black;
  font-size: 25px;
  overflow: hidden;
  padding-top: 30px;
}

.containerImageE > .imageE2 > h3{
  color: black;
  font-size: 35px;
  overflow: hidden;
}

.containerImageE > .imageE3{
  padding: 5px;
  display: block;
  min-width: 50px;
  width: 100%;
  height: 100%;
  background-image: url(https://images.pexels.com/photos/4151043/pexels-photo-4151043.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-position: center;
  background-size: cover;
  opacity: 25%;
  flex: 1;
  transition: .5s;
}

.containerImageE > .imageE3 > p{
  color: var(--second-color);
  font-size: 25px;
  overflow: hidden;
  padding-top: 30px;
}

.containerImageE > .imageE3 > h3{
  color: var(--second-color);
  font-size: 35px;
  overflow: hidden;
}

.containerImageE > .imageE:hover{
  flex: 4;
  opacity: 100%;
  text-align: center;
}

.formulario{
  display: grid;
  place-items: center;
  width: 90%;
  height: 90vh;
  margin-top: 100px;
  padding-bottom: 80px;
  border-radius: 12px;
  background: var(--fondo-input);
  border: var(--second-color) solid 2px;
}

.formulario > h3{
  color: #8FC1D4;
  font-size: 80px;
  text-align: center;
  width: 20%;
  font-family: 'Courgette', cursive;
}

.formularioContacto{
  display: grid;
  place-items: center;
  background-color: var(--input-color);
  width: 40%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12px;
  border: black solid 2px;
}

.formularioContacto > .input{
  width: 60%;
  height: 40px;
  border-radius: 12px;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  margin: 0px;
  padding: 5px 5px 5px 5px; 
  background-color: #483434;
  color: var(--second-color);
  border: 0;
}

.formularioContacto > .input::placeholder{
  padding-left: 10px;
  color: gray;
  opacity: 0.5;
}

.formularioContacto > textarea{
  height: 300px;
  width: 60%;
  max-width: 60%;
  max-height: 300px;
  min-width: 60%;
  min-height: 300px;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  padding: 5px 5px 5px 5px;
  border-radius: 12px;
  background-color: #483434; 
  color: var(--second-color);
}

.formularioContacto > textarea::placeholder{
  padding-left: 10px;
  color: gray;
  opacity: 0.5;
}

.formularioContacto > .animacion:focus{
  width: 60%;
  height: 40px;
  outline: 0;
  border: #911F27 4px solid;
}

.btn-submit{
  width: 20%;
  height: 70%;
  padding: 5px;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  border-radius: 40px;
  border: 0;
  color: var(--second-color);
  background-color: var(--tittle);
}

.btn-submit:hover,
.btn-submit:focus{
  background-color: #8FC1D4;
  cursor: pointer; 
}

.btn-up{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: black solid 3px;
  float: right;
  margin-right: 40px;
  margin-bottom: 40px;
}

.piePagina{
  margin-top: 50px;
  width: 100%;
  background-color: var(--second-color);
}

.piePagina > .grupoUno{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.piePagina > .grupoUno > .container1 > h2{
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-family: 'Courgette', cursive;
  color: black;
}

.piePagina > .grupoUno > .container2 > ul > li > a{
  font-size: 25px;
  color: black;
  display: grid;
  place-items: center;
  text-decoration: none;
}

.piePagina > .grupoUno > .container2 > ul > li > a:hover{
  opacity: 50%;
}

.piePagina > .grupoUno > .container3{
  display: grid;
  place-items: center;
}

.piePagina > .grupoUno > .container3 > h2{
  font-size: 40px;
  color: black;
}

.piePagina > .grupoUno > .container3 > .iconsFooter > a{
  margin: 5px;
  text-decoration: none;
}

.piePagina > .grupoUno > .container3 > .iconsFooter > a:hover{
  opacity: 50%;
}

.piePagina > .grupoDos{
  text-align: center;
  padding-bottom: 5px;
}

.piePagina > .grupoDos > small{
  color: black;
}

.piePagina > .grupoDos > small > b{
  color: black;
}












